* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color:#0489EC;
    position: relative;
    font-size: 16px;
}

header{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
}

nav{
    background-color: #000;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

li{
    display: inline-block;
    margin: 10px;
    width: 200px;
    font-size: 1.2em;
    transition: all .2s;
}

.portfolio, .link{
    
    position: absolute;
    top: 20%;
}

.portfolio{
    left: 30%;
}

.link{
    right: 30%;
}

.portfolio a, .link a{
    font-size: 1.2em;
    text-decoration: none;
    transition: all 0.2s;
}

.portfolio a:hover, .link a:hover{
    color: #ff8300;
}

.logo img{
    width: 100px;
}

.tecnologias, .presentacion{
    margin-top: 200px;
    float: left;
}

.presentacion{
    width: 60%;
    padding-left: 100px;
    padding-bottom: 150px;  
}

.presentacion h1 {
    display: block;
    clear: both;
    text-align: left;
    color: black;
    font-size: 3.5em;
}

.tecnologias{
    margin-left: 50px;
    margin-bottom: 70px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #003c68;
}

.tecnologias h2{
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.tecnologias img{
    width: 50px;
    height: 50px;
}

.proyectos{
    clear: both;
    width: 95%;
    margin-left: 2.5%;
    margin-bottom: 75px;
    border-style: solid;
    border-color: #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #003c68;   
}

.proyectos h2{
    margin-bottom: 40px;
    font-size: 2.2em;
}

.proyectos h3{
    margin-bottom: 20px;
    font-size: 1.7em;
}

.unProyecto{
    clear: both;
    margin-bottom: 150px;
    font-size: 1.2em;
}

.screenshot{
    float: left;
    margin-right: 50px;
}

.screenshot img{
    width: 500px;
    border: solid;
    border-color: #FF8300;
    border-radius: 10px;
}

.descripcion{
    line-height: 30px;
}

.titulo h3, .descripcion p b{
    color: #FF8300;
}

span {
    color: #fff;
}

.linkProyecto{
    text-decoration: none;
    transition: all 0.2s;
}

.linkProyecto:hover{
    color: #0489EC;
}

aside{
    width: 100%;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
}

aside h2{
    color: #ff8300;
    font-size: 2.2em;
    margin-left: 20px;
}

aside p{
    color: #000;
    font-size: 1.2em;
    margin-left: 20px;
}

aside p b{
    color: #000;
}

aside img{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.contacto{
    border: solid;
    border-color: #000;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    width: 30%;
}

.datos, .social{
    margin-top: 20px;
}

.social{
    margin-left: 10px;
}

.social a i{
    color: #0489EC;
    font-size: 3em;
    margin: 0px 0px 10px 10px;
    transition: all 0.2s;
}

.social a:hover > i{
    color: #ff8300;
}

footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
}

footer h2{
    text-align: center;
    font-size: small;
}

@media screen and (max-width: 1366px){

    body{
        font-size: 12px;
    }

    .portfolio{
        left: 25%;
    }
    
    .link{
        right: 25%;
    }

    .presentacion{
        padding-left: 60px;
    }

    .tecnologias{
        margin-left: 55px;
    }

    .contacto{
        width: 40%;
    }
    
    .tecnologias img{
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 1024px){

    .presentacion{
        width: 60%;
        padding-left: 50px;
    }

    .portfolio{
        left: 20%;
    }
    
    .link{
        right: 20%;
    }

    .tecnologias{
        margin-left: 45px;
    }

    .screenshot img{
        width: 400px;
    }

    .unProyecto{
        margin-bottom: 75px;
    }

    .contacto{
        width: 50%;
    }
}

@media screen and (max-width: 768px){
   

    .logo{
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .logo img{
        width: 75px;
    }

    .portfolio, .link{
        width: 150px;
    }

    .portfolio{
        left: 15%;
    }
    
    .link{
        right: 15%;
    }

    .tecnologias, .presentacion{
        margin-top: 75px;
        clear: both;
    }
    
    .presentacion{
        padding-bottom: 20px;
        padding-left: 0px;
        width: 100%;
    }

    .presentacion h1{
        text-align: center;
    }

    .tecnologias{
        margin-left: 25%;
    }

    .proyectos{
        margin-left: 0px;
        width: 100%;
    }

    .proyectos h2, .proyectos h3{
        text-align: center;
    }

    .screenshot{
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }

    aside img{
        width: 40px;
        height: 40px;
    }

    .contacto{
        width: 60%;
    }
}

@media screen and (max-width: 450px){

    body{
        font-size: 10px;
    }

    .portfolio, .link{
        width: 100px;
    }

    .portfolio{
        left: 10%;
        margin-left: 2px;
    }
    
    .link{
        right: 10%;
        margin-right: 2px;
    }

    header{
        margin: 0;
        text-align: right;
    }

    .logo{
        margin-left: 30px;
        margin-right: 30px;
    }
    
    .logo img{
        width: 50px;
    }

    .presentacion h1{
        padding-left: 5px;
        padding-right: 5px;
    }

    .tecnologias{
        width: 95%;
        margin-left: 2.5%;
        text-align: center;
    }

    .tecnologias img{
        width: 25px;
        height: 25px;
    }

    .proyectos{
        padding-left: 3px;
        padding-top: 10px;
    }

    .proyectos p{
        font-size: small;
        text-align: center;
    }

    .screenshot img{
        width: 300px;
        margin-left: 10%;
    }

    .unProyecto{
        margin-bottom: 50px;
    }

    aside h2{
        text-align: center;
        margin-left: 0px;
    }

    .contacto{
        width: 100%;
        margin-left: 0px;
        border: none;
    }

    aside img{
        width: 35px;
        height: 35px;
    }

    .contacto h3{
        float: none;
    }

    .contacto h3, .contacto p{
        margin-left: 0px;
        text-align: center;
        
    }

    .social {
        margin-left: 0px;
        text-align: center;
    }
}

@media screen and (max-width: 320px){
    .tecnologias img{
        width: 20px;
        height: 20px;
    }

    .screenshot img{
        width: 250px;
    }
}
